/******************************THEME DETAILS******************************/

/* #DDFDFF #5CE1E6 #A6A6A6 #212529 */

/******************************TAG SELECTORS******************************/

body::-webkit-scrollbar {
    display: none;
}



body {
    text-align: center;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    font-weight: 400;
    font-size: 5rem;
    padding-bottom: 50px;
}

h2 {
    font-weight: 400;
    font-size: 3.5rem;
    padding-top: 68px; /* keeps content below (not behind) sticky navbar */
    margin-top: -68px; /* keeps content below (not behind) sticky navbar */
    padding-bottom: 40px;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
    margin: 60px auto 30px;
}

li, a {
    font-size: 1.25rem;
}

button {
    --bs-btn-hover-bg: none;
    --bs-btn-active-bg: none;
    --bs-btn-focus-bg: none;
    --bs-btn-color: black;

    margin: 20px auto;
}

button, .convert {
    --bs-btn-bg: #5CE1E6;
    --bs-btn-border-color: #5CE1E6;
    --bs-btn-hover-border-color: #5CE1E6;
    --bs-btn-active-border-color: #5CE1E6;
    --bs-btn-focus-border-color: #5CE1E6;
    border-radius: 16px;
}

button, .reset {
    --bs-btn-bg: #A6A6A6;
    --bs-btn-border-color: #A6A6A6;
    --bs-btn-hover-border-color: #A6A6A6;
    --bs-btn-active-border-color: #A6A6A6;
    --bs-btn-focus-border-color: #A6A6A6;
    border-radius: 16px;
}



section {
    margin: 0;
    padding-bottom: 120px;
}

output p {
    text-align: left;
    color: transparent;
    margin: 0;
    padding: 0;
}

footer {
    font-size: 0.8rem;
}

/*****************************CLASS SELECTORS*****************************/



.navbar {
    padding: 0 4px;
}

.navbar a {
    padding: 19px 12px;
    border-radius: 10px; /* by setting the border radius before the a is active or hovered it prevents a flash of square highlighting from appearing */
}

.navbar li>a:hover,
.navbar li>a:focus,
.navbar li>a.active {
    background-color: #5CE1E6;
    border-radius: 10px;
}

#planet-drop {
    --bs-btn-bg: #A6A6A6;
    --bs-btn-border-color: #A6A6A6;
    --bs-btn-hover-border-color: #A6A6A6;
    --bs-btn-active-border-color: #A6A6A6;
    --bs-btn-focus-border-color: #A6A6A6;
    text-align: left;
    width: 70px !important;
}





.bg-white {
    background-color: white;
}

.bg-color {
    background-color: #DDFDFF;
}

.row {
    margin: 0;
}

.label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 10px;
}

.input-group-text {
    background-color: white;
}



/*******************************ID SELECTORS*******************************/

#home {
    padding-top: 68px; /* keeps content below (not behind) sticky navbar */
    margin-top: -68px; /* keeps content below (not behind) sticky navbar */
    padding: 260px 0;
}

#footer {
    padding: 15px;
}


/******************************MEDIA QUERIES******************************/
